body {
    background-color: #0cb3f0;
    margin: 4rem;
}

.container {
    padding: 4rem 5rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 100%;
    max-width: 45rem;
}

table{
    width:100%;
    border-collapse: collapse;
    margin-top: 50px;
    border-radius: 10%;
}

td, th {
    border: 1px solid white;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #0cb3f0;
    color: white;
}

.found-element{
    background-color: #70e114;
}

.mid-element{
    background-color: #f42222;
}

h1 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    background: -webkit-linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h4 {
    color: #7a598c;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0 0 3.5rem 0;
}

span{
    display: flex;
    justify-content: center;
    font-size: 1.0rem;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0 3.5rem 0;
}

.btn.btn-primary {
    background-color: #0cb3f0;
    border-color: #0cb3f0;
    outline: none;
}

.btn.btn-primary:hover {
    background-color: #0cb3f0a1;
    border-color: #0cb3f0a1;
}

.algo-display{
    margin-top: 50px;
}
h5{
    margin-bottom: 20px;
    text-decoration: underline;
}
.cell-display {
display: flex;
align-items: center;
gap: 10px;
}

.cell-display p, 
.cell-display table {
margin: 0;
display: inline-block;
}

.step {
    display: none;  /* Hide all steps initially */
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in effect */
}
.show {
    display: block;
    opacity: 1;
}