<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>MidWay Search</title>
</head>

<body>

    <h1>Midway Search</h1>
    <h4>Search your elements bi-directionally</h4>
    <div class="container">

        <div class="form-group">
            <div class="input-group shadow">

                <input type="text" id="itemsInput" class="form-control form-control-lg"
                    placeholder="Enter items as CSV">

                <input type="text" id="itemSearch" class="form-control form-control-lg"
                    placeholder="Enter item to search">

                <button class="browse btn btn-primary px-4" id="submitButton" type="button">Submit</button>

            </div>
        </div>

        <table id="resultTable" hidden="hidden">
            <tr>

            </tr>
        </table>

        <span id="indexResults" hidden="hidden"></span>

        <div class="algo-display">
            <div class="step" id="step1">
                <h5>Step 1</h5>
                <p>Identifying the mid element</p>
                <div class="cell-display">
                    <p>Here it is </p>
                    <table style="width: fit-content;">
                        <tr>
                            <td id="mid-element-td">5</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="step" id="step2">
                <h5>Step 2</h5>
                <p>Start the iteration from left and right simultaneously</p>

                <div class="cell-display">
                    <p>Here from </p>
                    <table style="width: fit-content;">
                        <tr>
                            <td id="left-element-td">5</td>
                        </tr>
                    </table>
                    <p>&amp;</p>
                    <table style="width: fit-content;">
                        <tr>
                            <td id="right-element-td">6</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="step" id="step3">
                <h5>Step 3</h5>
                <p id="step3-text">Store the found indexes in a list [0,1,2] and return</p>
            </div>

            <div class="step" id="result">
                <h5>Result</h5>
                <div class="cell-display">
                    <p>The element</p>
                    <table style="width: fit-content;">
                        <tr>
                            <td class="found-element" id="given-element">5</td>
                        </tr>
                    </table>
                    <p id="step4-text">is found at index(es) [3,8]</p>
                </div>
            </div>

            <div class="step" id="complexity">
                <h5>Complexity</h5>
                <p id="execution-text">Execution Time : 0.0099ms</p>
                <p id="memory-text">Memory Used : 0 bytes</p>
                <p id="time-comp-text">Time Complexity(O(N)) : 10</p>
            </div>
        </div>


    </div>

    <script src="/static/main.js"></script>

</body>

</html>